.player {
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
}

.player .video-container {
  flex-grow: 1;
}

.player .control-panel {
  background-color: black;
  display: flex;
  align-items: center;
}

.player .control-panel .player-button {
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 20px;
  height: 40px;
  width: 35px;
  flex-shrink: 0;
}

.player .control-panel .time-box {
  color: white;
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 2px;
  padding-right: 4px;
}

.player .control-panel .time-box .progress-bar {
  flex-grow: 1;
  background-color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.player .control-panel .time-box .progress-bar .slider {
  background-color: red;
  height: 5px;
  border-radius: 30px;
}

.player .control-panel .time-box .progress-bar .thumb {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid white;
  box-shadow: 0.5px 0.5px grey;
  margin-left: -8px;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  opacity: 0;
}

.player .control-panel .time-box .progress-bar:hover .thumb {
  opacity: 1;
}